HIN202ECBNZ HIN202 ±15kV, ESD-Protected, +5V Powered, RS-232 Transmitters/Receivers

Part Number: HIN202ECBNZ

Package: SOP16

Brand: Intersil

Features
• Pb-Free Plus Anneal Available (RoHS Compliant)
• High Speed ISDN Compatible . . . . . . . . . . . . . 230kbits/s
• ESD Protection for RS-232 I/O Pins to ±15kV (IEC61000)
• Meets All RS-232E and V.28 Specifications
• Requires Only 0.1µF or Greater External Capacitors
• Two Receivers Active in Shutdown Mode (HIN213E)
• Requires Only Single +5V Power Supply
• Onboard Voltage Doubler/Inverter
• Low Power Consumption (Typ) . . . . . . . . . . . . . . . . . 5mA
• Low Power Shutdown Function (Typ) . . . . . . . . . . . . .1µA
• Three-State TTL/CMOS Receiver Outputs
• Multiple Drivers
- ±10V Output Swing for +5V Input
- 300Ω Power-Off Source Impedance
- Output Current Limiting
- TTL/CMOS Compatible
• Multiple Receivers
- ±30V Input Voltage Range
- 3kΩ to 7kΩ Input Impedance
- 0.5V Hysteresis to Improve Noise Rejection

Datasheets
HIN202E, 206E-208E, 211E, 213E, 232E
Product Photos
16-SOIC, M16.15 PKG
16 SOIC
PCN Assembly/Origin
Alternate Manufacturing Site 05/Feb/2014
Standard Package 
2,500
Category
Integrated Circuits (ICs)
Family
Interface - Drivers, Receivers, Transceivers
Packaging 
Tape & Reel (TR) 
Type
Transceiver
Protocol
RS232
Number of Drivers/Receivers
2/2
Duplex
Full
Receiver Hysteresis
500mV
Data Rate
230kbps
Voltage - Supply
4.5 V ~ 5.5 V
Operating Temperature
0°C ~ 70°C
Mounting Type
Surface Mount
Package / Case
16-SOIC (0.154", 3.90mm Width)
Supplier Device Package
16-SOIC


More Intersil Products:

ICL7650SCBA-1Z ICL7650SCBA ICL7650 ICL8048BCJE ICL8048 ICM7170IBG ICM7170
ISL12022MIBZ-T ISL12022MIBZ ISL12022 RFP50N06 CP82C84A CP82C84A CS80C88-2
CS80C88 EL5329IREZ EL5329IRE EL5329 HC55185DIM HC55185 HI1-201-5
HI1-0201-5 ISL6363 ISL6363IRTZ ISL8225MIRZ ISL8225M ISL8225 EL2020CNP
EL2020CN EL2020 5962-8513101XA 5962-85131023A 5962-8513102XA 5962-8513103EA 5962-85131073A
5962-8513107XA 5962-85131092A 5962-86860012A 5962-8686001EA 5962-8757701RA 5962-87677012A 5962-87784012A
5962-88502012A 5962-8850201CA 5962-8954801GC 5962-8954801PA 5962-89620012A 5962-89635012A 5962-8963501PA
5962-89636012A 5962-8963601GC 5962-8963601PA 5962-9051801MEA 5962-9052501MQA 5962-9052502MQA 5962-9054302MQA
5962-9054901MQA 5962-9073101MEA 5962-9204201MEA 5962-9467701M2A 77052012A 7705201EC 77052022A
7705202EA 7705302EA 7800302GC 7800302PA 78029013A 7802901JA 81006122A
81006222A 8405202QA 84065013A 8406501JA 84065023A 8406602QA 8406602XA
8406701RA 8406801VA 8406901RA 85015013A 8501501XA ACS03DMSR ACS03HMSR
ACS03KMSR ACS138DMSR ACS138DMSR-03 ACS138KMSR ACS138KMSR-03 ACS374DMSR ACS374KMSR
ACS541HMSR ACS541HMSR-02 ACS541KMSR ACS541KMSR-02 ACTS161DMSR ACTS161KMSR ACTS240DMSR
ACTS240KMSR ACTS373DMSR ACTS373DMSR-02 ACTS373KMSR ACTS373KMSR-02 ACTS74HMSR ACTS74HMSR-02
CA3054 CA3054M96 CA3054MZ CA3054MZ96 CA3130A CA3130AE CA3130AM
CA3130AM96 CA3130AMZ CA3130AMZ96 CA3130E CA3130M96 CA3130MZ96 CA3140
CA3140A CA3140AE CA3140AEZ CA3140AM CA3140AM96 CA3140AMZ CA3140AMZ96
CA3140E CA3140EZ CA3140M CA3140M96 CA3140MZ CA3140MZ96 CA3240
CA3240AE CA3240AEZ CA3240E CA3240EZ CA3260 CA3260AE CA3260AEZ

[Delivery Term] 
1. We will ship all your order within 3 working days after receiving your payment. Otherwise, we will state it in the invoice in advance.
2. We can Ship via your shipping account (DHL / FEDEX / UPS / TNT or others) as your instruction. Or Ship via our shipping account (We have good relationship with DHL and FEDEX with very special freight).
3. Regarding the declared value on the package for customs clearance, we are pleased to follow your wishes, just feel free to inform us when ordering.
4. Any import fees or charges are the buyer responsibility.

[Refund & Replacement]
You will receive a 30-360 days form, fit, and function of part warranty to make sure you receive exactly what you ordered.

[Buying Excess & Surplus excess stocks of Electronic Components]
MICROCHIP semiconductor purchase the excess and surplus stocks inventory.

Website:
http://www.mjdic.com/about
http://www.hkmjd.cn/
http://www.hkmjd.com/cpzs

Store:
http://www.aliexpress.com/store/800250

Contact Way
Name: Fanny Young
Skype ID: mjdccm
Email: Fanny.Young@szmjd.net
Trademanager: cn200873376
